body {
  margin: 0;
  padding: 0;
}

.logo {
  margin: 1rem;
  padding: 1rem;
}

.logo-img {
  height: 50px;
  width: 50px;
}

.navbar {
  align-items: center;
  background-color: maroon;
  display: flex;
  height: 5em;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-button {
  background-color: white;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: maroon;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 1rem;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

.nav-item {
  color: white;
  padding: 1rem;
  margin: 1rem;
}

.nav-menu {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0;
}
